*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1;
    background-color: tan;
}
/*************************************/
/* HEADER */
nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
}
h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
}
h2 {
    font-size: 44px;
    margin-bottom: 48px;
}
p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
}
.btn:link, .btn:visited {
    font-size: 18px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    padding: 12px 32px;
    display: inline-block;
    border-radius: 9px;
    letter-spacing: 0.1rem;
    transition: all 1s;
}
.btn:hover{
    box-shadow: 0px 0px 12px #fff;
    transform: translateX(2.5%);
    background-color: #fff;
    color: #e67e22;
}
.btn:active{
    border: 4px solid #fff;
    color: black;
}
.container {
    margin: 0 auto;
    width: 1000px;
}
.head-container {
    width: 1000px;
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.head-container-element {
    width: 60%;
}
header {
    height: 100vh;
    position: relative;

    background-image: url(photos/women.jpg);
    background-size: cover;
    color: #fff;

    background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(photos/women.jpg);
    font-family: cursive;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.504);
    margin-bottom: 8rem;
}
.container a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.container a img{
    height: 2.52rem;
    width: 13rem;
    border-radius: 10px;
    transition: all 1s;
}
.container a img:hover{
    transform: translateY(-0.3rem);
}
.container a:nth-child(2){
    border-radius: 11px;
    padding: 0.8rem 1.8rem;
    font-size: 1.5rem;
    letter-spacing: 0.20rem;
    text-transform: uppercase;
    animation: Myan 1.5s ease infinite;
    transition: all 1s;
    animation-delay: 1.5s;
}
@keyframes Myan {
      0%,100% {
        transform: scale(1);
        box-shadow: 0px 0px 12px #fff;
      }
      50% {
        transform: scale(1.04);
        color: #e67e22;
        box-shadow: 0px 0px 12px #fff;
      }
}
.container a:nth-child(2):active{
    border: 4px solid #fff;
    color: black;
}
/*****************************************/
/* SECTION MAIN */
.heading-primary{
    font-size: 2rem;
    padding: 1rem 0 0rem;
    margin: 0;
    text-align: center;
    font-family: cursive;
    color: rgb(176, 52, 52);
    cursor: pointer;
    text-transform: uppercase;
}
.heading-primary span {
  position: relative;
}
.heading-primary span::after {
  content: '';
  position: absolute;
  bottom: -0.4rem;
  border-radius: 11px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(176, 52, 52);
  animation: borderAnimation 2.8s linear infinite;
}
@keyframes borderAnimation {
    0%{
      width: 0;
    }
    70% {
      width: 100%;
    }
}
.section-main{
    background-color: tan;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    gap: 2rem;
    padding: 3.5rem 3rem 5rem;
}
.work-1{
    padding: 2rem 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    background-color: hsla(0, 0%, 46%, .2);
    font-family: cursive;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.work-img img{
    height: auto;
    width: 100%;
}
.work-text-child{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.flex-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.4rem;
}
.flex-text p{
    margin-bottom: 0;
}
.work-img-child{
    overflow: hidden;
    height: 20rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    background-color: hsla(0, 0%, 46%, .2);
}
.Omnifood-img{
    transition: all 10s ease-in-out 0s;
}
.Omnifood-img:hover{
    transform: translateY(-87%);
}
.Coffe-For-You-img{
    transition: all 1s ease-in-out 0s;
}
.Coffe-For-You-img:hover{
    transform: translateY(-34%);
}
.work-img{
    width: 100%;
    height: auto;
}
.title-date{
    align-items: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 2rem;
    white-space: nowrap;
    color: black;
    font-weight: bold;
    padding-top: 3rem;
    margin-top: 0.5rem;
    color: rgb(176, 52, 52);  
    cursor: pointer;
}
.title-date::before{
    position: absolute;
    content: "";
    top: 0rem;
    width: 200px;
    height: 5px;
    background-color: rgb(227, 195, 154);
    border-radius: 11px;
    left: 30%;
}
.border-span{
    border-top: 2px solid brown;
}
.work-text{
    width: 35rem;
    color: rgb(7, 7, 7);
}
.work-text p{
    text-align: center;
    font-size: 1rem;
}
.stacks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.6rem;
}
.stacks-exception{
    padding-top: 0.04rem;
}
.stacks p{
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    background-color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(176, 52, 52);
    color: rgb(227, 195, 154);
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stacks p:hover{
    transform: scale(1.08);
    background-color: #fff;
    color: #843f02;
    box-shadow: 0 0 20px grey;
}
.links{
    color: black;
    display: flex;
    justify-content: center;
}
.links a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.2rem 0.8rem;
    box-shadow: 0 0 10px rgb(88, 88, 88);
}
.links a:hover{
    color: #843f02;
    font-weight: bold;
}
.links a svg{
    transition: all 0.5s;
}
.links a svg:hover{
    transform: translateY(-6%);
}
/* SECTION REVIEWS */
.reviews{
    margin-bottom: 6rem;
    text-align: center;
}
.our-place{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.4rem;
    box-shadow: 0 0 15px rgba(0,0,0, .3);
    background-color: hsla(0, 0%, 46%, .2);
    padding: 3rem 3rem 1rem;
    border-radius: 11px;
}
.place-child{
    background: #F6F6F6;
    width: 100%;
    height: 90%;
    box-shadow: -10px -10px 15px rgba(0,0,0, .3);
    overflow: hidden;
}
.place-img img:hover{
    transform: scale(1.1);
}
.place-img img{
    transition: all 0.7s;
}
.place-child img{
    width: 100%;
    height: 58%;
}
.place-text{
    width: 100%;
    text-align: start;
    margin: 0.4rem 0 0 1rem;
}
.place-text p{
    margin-bottom: -0.5rem;
    font-size: 16px;
    color: #E0C088;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.place-text h3{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.place-text h6 {
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/* SECTION: TESTIMONIES */
.section-testimonies{
    margin: 0 18rem 8rem;
    border-radius: 11px;
    background-color: hsla(0, 0%, 46%, .2);
}
.heading-secondary{
    font-size: 1.5rem;
    margin: 0;
    font-family: cursive;
    color: rgb(176, 52, 52);
    cursor: pointer;
    text-transform: uppercase;
    padding: 2rem 2rem 1.5rem;
    font-weight: bold;
    text-align: center;
}
.heading-secondary span{
    border-bottom: 3px solid #fff;
    animation: title-date 2.5s ease infinite;
    transition: all 1s;
    color: #fff;
}
@keyframes title-date {
    0%,100% {
        border-bottom-color: #fff;
    }
    50% {
        color: rgb(176, 52, 52);
        border-bottom-color: rgb(176, 52, 52);
    }
}
.heading-secondary span:hover{
    border-bottom: none;
}
.carousel{
    padding: 1rem 4rem 3rem;
}

/* Bootstrap modifications */
.w-100{
    border-radius: 10px;
    cursor: pointer;
}
.carousel-control-next, .carousel-control-prev{
    width: 8%;
    opacity: 1;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 3rem;
    height: 3rem;
}
.carousel-control-next-icon{
    background-image: url(./photos/caret-right.svg);
}
.carousel-control-prev-icon{
    background-image: url(./photos/caret-left.svg);
}
.carousel-indicators{
    margin-bottom: 0.7rem;
}
/* Bootstrap modifications */
.card{
    background-color: tan;
    border: none;
    padding: 2.5rem 7rem;
}
.btn-primary:link, .btn-primary:visited{
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(117, 117, 117, 0.2);
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 3rem;
    display: inline-block;
    border-radius: 9px;
    letter-spacing: 0.1rem;
}
.btn-primary:hover{
    transform: none;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #a18060;
    color: brown;
    transition: all 0s;
}
.gap-1 {
    margin: 0;
}
/********************************/
/* Footer */
footer{
    font-family: cursive;
}
.section-footer-child{
    background-color: #a18060;
    padding: 1.2rem 3rem;
}
.section-footer-child p{
    margin: 0;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    padding: 3rem 4rem;
    background-color: #989898;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.504);
}
.col{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.col a{
    text-decoration: none;
    color: black;
}
.col a:hover{
    color: #147efb;
}
.col p{
    margin: 0;
}
.col-child{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.col-child a{
    color: #414040;
    transition: all 0.5s;
}
.col-child a:hover{
    transform: translateY(-10%);
}
.col-child p{
    color: #fff;
    cursor: pointer;
}
.col span{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.col span:hover{
    transform: scale(1.1);
}